#id {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

@-webkit-keyframes my-animation {
  0% {
    top: 0; }

  100% {
    top: 100%; } }

@-moz-keyframes my-animation {
  0% {
    top: 0; }

  100% {
    top: 100%; } }

@keyframes my-animation {
  0% {
    top: 0; }

  100% {
    top: 100%; } }
